@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding-left: 0;
}

.spinner {
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

@media screen and (max-width: 480px) {
  body::-webkit-scrollbar {
    width: 10px;
    background: antiquewhite;
  }
  body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
    border-right: 2px solid antiquewhite;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: antiquewhite;
  }
  body.dark {
    background: #111111;
  }
  .animado {
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mostrarArriba {
    -webkit-animation: mostrarArriba 1.5s;
            animation: mostrarArriba 1.5s;
  }
  @-webkit-keyframes mostrarArriba {
    0% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes mostrarArriba {
    0% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .mostrarDerecha {
    -webkit-animation: mostrarDerecha;
            animation: mostrarDerecha;
  }
  @-webkit-keyframes mostrarDerecha {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
  }
  @keyframes mostrarDerecha {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
  }
  .navegador {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: 30px;
  }
  .navegador .navegador__nombre {
    display: none;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4vw;
    z-index: 2;
  }
  .navegador .navegador__nombre.dark {
    color: #E1DBD7;
  }
  .navegador .navegador__cambioColor {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }
  .navegador .navegador__cambioColor.dark {
    color: #E1DBD7;
  }
  .navegador .navegador__cambioColor.color1 {
    color: #F7CBC9;
  }
  .navegador .navegador__cambioColor.color2 {
    color: #F39136;
  }
  .navegador .navegador__cambioColor.color3 {
    color: #0E4150;
  }
  .navegador .navegador__estado {
    display: none;
    font-family: 'Spartan', sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-right: 4vw;
    z-index: 2;
  }
  .navegador .navegador__estado.dark {
    color: #E1DBD7;
  }
  .cabezal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .cabezal .cabezal__nombre {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    margin-left: 4vw;
    margin-top: 30px;
  }
  .cabezal .cabezal__nombre.dark {
    color: #E1DBD7;
  }
  .cabezal .cabezal__nombre.color1 {
    color: #F7CBC9;
  }
  .cabezal .cabezal__nombre.color2 {
    color: #F39136;
  }
  .cabezal .cabezal__nombre.color3 {
    color: #0E4150;
  }
  .cabezal .cabezal__estado {
    font-family: 'Spartan', sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    margin-right: 4vw;
    margin-top: 30px;
  }
  .cabezal .cabezal__estado.dark {
    color: #E1DBD7;
  }
  .cabezal .cabezal__estado.color1 {
    color: #F7CBC9;
  }
  .cabezal .cabezal__estado.color2 {
    color: #F39136;
  }
  .cabezal .cabezal__estado.color3 {
    color: #0E4150;
  }
  .cabezal__estrella {
    position: absolute;
    margin-top: 28px;
    font-size: 11px;
    cursor: pointer;
    z-index: 2;
  }
  .cabezal__estrella.dark {
    color: #E1DBD7;
  }
  .cabezal__estrella.color1 {
    color: #F7CBC9;
  }
  .cabezal__estrella.color2 {
    color: #F39136;
  }
  .cabezal__estrella.color3 {
    color: #0E4150;
  }
  .navegadorAbajo {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    position: fixed;
    bottom: 40px;
    z-index: 1;
  }
  .navegadorAbajo .navegadorAbajo__time {
    display: none;
    font-family: 'Spartan', sans-serif;
    text-align: left;
    color: black;
    font-size: 14px;
    margin-left: 4vw;
  }
  .navegadorAbajo .navegadorAbajo__time.dark {
    color: #E1DBD7;
  }
  .navegadorAbajo .posicionSwitch {
    text-align: right;
    position: absolute;
    right: 4vw;
    bottom: 0px;
    z-index: 2;
  }
  .navegadorAbajo .navegadorAbajo__switch {
    background: #252525;
    border: none;
    border-radius: 2000px;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: steelblue;
  }
  .navegadorAbajo .navegadorAbajo__switch::after {
    content: '\f185';
    font-family: "Font Awesome 5 Free";
    text-align: center;
    font-size: 21px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .navegadorAbajo .navegadorAbajo__switch.active {
    background: #E1DBD7;
    color: #111111;
  }
  .navegadorAbajo .navegadorAbajo__switch.active::after {
    content: '\f186';
    font-family: "Font Awesome 5 Free";
    position: absolute;
  }
  .navegadorAbajo .navegadorAbajo__switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
  .cuerpito {
    height: auto;
  }
  .cuerpito .cuerpito__trabajos--acomodar {
    margin-top: -10px;
  }
  .cuerpito__titulazo {
    height: auto;
    text-transform: uppercase;
    font-size: 16vw;
    line-height: 15.5vw;
    margin-left: 2vw;
    margin-right: 3vw;
    padding-top: 65px;
    font-family: 'Italiana', serif;
    position: relative;
    z-index: -1;
  }
  .cuerpito__titulazo.dark {
    color: #E1DBD7;
  }
  .cuerpito__titulazo.color1 {
    color: #F7CBC9;
  }
  .cuerpito__titulazo.color2 {
    color: #F39136;
  }
  .cuerpito__titulazo.color3 {
    color: #0E4150;
  }
  .cuerpito__titulazo .cuerpito__titulazo--primero {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 1vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--segundo {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 17vw;
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--tercero {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 1vw;
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--cuarto {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 1vw;
    margin-right: 3vw;
  }
  .relleno {
    height: 0vh;
  }
  .carota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .carota__imagen {
    height: auto;
    width: 70%;
    border-radius: 8px;
  }
  .imagen {
    background-color: #787878;
    height: 92.8vw;
    width: 70vw;
    border-radius: 20px;
    margin-top: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://drive.google.com/uc?/export=view&id=1ccwT7PW5BC-x3L8RSlPy2whTkBe6Wew9");
  }
  .imagen.dark {
    height: 112.85vw;
    width: 70vw;
    border-radius: 12px;
    background-image: url("https://drive.google.com/uc?/export=view&id=1q86OsRkDKZLwKUCHoOewIAa3C0ysRS_z");
  }
  .cuerpito__parrafoUno {
    text-transform: uppercase;
    font-family: 'Spartan', serif;
    text-align: justify;
    font-size: 2.5vw;
    line-height: 1.9em;
    margin-left: 4vw;
    margin-top: 70px;
  }
  .cuerpito__parrafoUno.dark {
    color: #E1DBD7;
  }
  .cuerpito__parrafoUno.color1 {
    color: #F7CBC9;
  }
  .cuerpito__parrafoUno.color2 {
    color: #F39136;
  }
  .cuerpito__parrafoUno.color3 {
    color: #0E4150;
  }
  .cuerpito__parrafoUno .cuerpito__parrafoUno--oraUno {
    margin-left: 5vw;
  }
  .cuerpito__parrafoDos {
    text-transform: uppercase;
    font-family: 'Spartan', serif;
    text-align: justify;
    font-size: 2.5vw;
    line-height: 1.9em;
    margin-top: 70px;
    margin-left: 4vw;
  }
  .cuerpito__parrafoDos.dark {
    color: #E1DBD7;
  }
  .cuerpito__parrafoDos.color1 {
    color: #F7CBC9;
  }
  .cuerpito__parrafoDos.color2 {
    color: #F39136;
  }
  .cuerpito__parrafoDos.color3 {
    color: #0E4150;
  }
  .cuerpito__descripcion {
    margin-top: 5vw;
    background: -webkit-gradient(linear, left top, right top, color-stop(4.5vw, antiquewhite), color-stop(1%, transparent)) center, -webkit-gradient(linear, left top, left bottom, color-stop(4.5vw, antiquewhite), color-stop(1%, transparent)) center, #a799cc;
    background: linear-gradient(90deg, antiquewhite 4.5vw, transparent 1%) center, linear-gradient(antiquewhite 4.5vw, transparent 1%) center, #a799cc;
    background-size: 22px 22px;
    height: 600px;
    position: relative;
    background-color: #89a9bd;
  }
  .cuerpito__descripcion .set__triangulo {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 300px;
  }
  .cuerpito__descripcion .set__triangulo .triangulo {
    border-left: calc(50vw - 6px) solid antiquewhite;
    border-top: 50vw solid transparent;
  }
  .cuerpito__descripcion .set__triangulo .triaguloRevez {
    border-right: calc(50vw - 6px) solid antiquewhite;
    border-top: 50vw solid transparent;
  }
  .cuerpito__trabajos {
    text-decoration: none;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
    z-index: -1;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-top: 20px;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
    z-index: -1;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-top: 20px;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
    z-index: -1;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo4 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-top: 20px;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
    z-index: -1;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo4.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo4.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo4.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo4.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo5 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-top: 20px;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
    z-index: -1;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo5.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo5.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo5.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo5.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos--imagen1 {
    position: relative;
    border-radius: 8px;
    width: 92%;
    margin-left: 4vw;
    height: auto;
    background-color: #374954;
    z-index: 0;
  }
  .cuerpito__trabajos--imagen2 {
    position: relative;
    border-radius: 8px;
    width: 92%;
    margin-left: 4vw;
    height: auto;
    background-color: #7A533C;
    z-index: 0;
  }
  .cuerpito__trabajos--imagen3 {
    position: relative;
    border-radius: 8px;
    width: 92%;
    margin-left: 4vw;
    height: auto;
    background-color: #FCB657;
    z-index: 0;
  }
  .cuerpito__trabajos--imagen4 {
    position: relative;
    border-radius: 8px;
    width: 92%;
    margin-left: 4vw;
    height: auto;
    background-color: #589764;
    z-index: 0;
  }
  .cuerpito__trabajos--imagen5Caja {
    height: 100vw;
    width: 92%;
    border-radius: 8px;
    background-color: crimson;
    overflow: hidden;
    margin-left: 4vw;
    position: relative;
    z-index: 0;
  }
  .cuerpito__trabajos--imagen5 {
    margin-top: -150px;
    margin-bottom: -10px;
    width: 100%;
    z-index: 0;
  }
  .charlemos {
    font-family: 'Italiana', serif;
    font-size: 15vw;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    margin-bottom: 21vh;
  }
  .charlemos .charlemos__primero {
    display: none;
    margin-left: -150vw;
    height: 12vw;
    position: relative;
    white-space: nowrap;
  }
  .charlemos .charlemos__primero.dark {
    color: #E1DBD7;
  }
  .charlemos .charlemos__primero.color1 {
    color: #F7CBC9;
  }
  .charlemos .charlemos__primero.color2 {
    color: #F39136;
  }
  .charlemos .charlemos__primero.color3 {
    color: #0E4150;
  }
  .charlemos .charlemos__segundo {
    margin-left: -100vw;
    position: relative;
    white-space: nowrap;
  }
  .charlemos .charlemos__segundo.dark {
    color: #E1DBD7;
  }
  .charlemos .charlemos__segundo.color1 {
    color: #F7CBC9;
  }
  .charlemos .charlemos__segundo.color2 {
    color: #F39136;
  }
  .charlemos .charlemos__segundo.color3 {
    color: #0E4150;
  }
  .espacio {
    height: 0vh;
    background-color: #0E4150;
  }
  .contactame {
    text-align: center;
    font-family: 'Spartan', sans-serif;
    line-height: 1.35em;
    font-weight: 200;
    margin-top: calc(21vh - 10px);
    margin-bottom: max(calc(20vh + 1px), 60px);
  }
  .contactame.dark {
    color: #E1DBD7;
  }
  .contactame.color1 {
    color: #F7CBC9;
  }
  .contactame.color2 {
    color: #F39136;
  }
  .contactame.color3 {
    color: #0E4150;
  }
  .contactame .contactame__mail {
    font-size: 5vw;
  }
  .contactame .contactame__lista {
    margin-top: 70px;
    text-align: center;
    list-style: none;
    font-size: 4vw;
  }
  .contactame .contactame__lista .contactame__listaItemA {
    text-decoration: none;
    color: #111111;
  }
  .contactame .contactame__lista .contactame__listaItemA.dark {
    color: #E1DBD7;
  }
  .contactame .contactame__lista .contactame__listaItemA.color1 {
    color: #F7CBC9;
  }
  .contactame .contactame__lista .contactame__listaItemA.color2 {
    color: #F39136;
  }
  .contactame .contactame__lista .contactame__listaItemA.color3 {
    color: #0E4150;
  }
  .piecito {
    vertical-align: text-bottom;
    margin-bottom: 37px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .piecito .piecito__anio {
    font-family: 'Spartan', sans-serif;
    margin-left: 4vw;
  }
  .piecito .piecito__anio.dark {
    color: #E1DBD7;
  }
  .piecito .piecito__anio.color1 {
    color: #F7CBC9;
  }
  .piecito .piecito__anio.color2 {
    color: #F39136;
  }
  .piecito .piecito__anio.color3 {
    color: #0E4150;
  }
  .piecito .piecito__legals {
    font-family: 'Spartan', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .modito {
    background-color: transparent;
    border-style: none;
    color: #111111;
    z-index: 2;
  }
  .modito.dark {
    color: #E1DBD7;
  }
  .modito.color1 {
    color: #F7CBC9;
  }
  .modito.color2 {
    color: #F39136;
  }
  .modito.color3 {
    color: #0E4150;
  }
  .modito:hover {
    background-color: transparent;
    border-style: none;
  }
  .modito::after {
    background-color: transparent;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #ED5A45;
  }
  body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
    border-right: 2px solid #ED5A45;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #ED5A45;
  }
  body.dark {
    background-color: #111111;
  }
  .animado {
    opacity: 0.1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mostrarArriba {
    -webkit-animation: mostrarArriba 1.5s;
            animation: mostrarArriba 1.5s;
  }
  @-webkit-keyframes mostrarArriba {
    0% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes mostrarArriba {
    0% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .mostrarDerecha {
    -webkit-animation: mostrarDerecha;
            animation: mostrarDerecha;
  }
  @-webkit-keyframes mostrarDerecha {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
  }
  @keyframes mostrarDerecha {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
  }
  .navegador {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: 30px;
  }
  .navegador .navegador__nombre {
    display: none;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4vw;
    z-index: 2;
  }
  .navegador .navegador__nombre.dark {
    color: #E1DBD7;
  }
  .navegador .navegador__cambioColor {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }
  .navegador .navegador__estado {
    display: none;
    font-family: 'Spartan', sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-right: 4vw;
    z-index: 2;
  }
  .navegador .navegador__estado.dark {
    color: #E1DBD7;
  }
  .cabezal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .cabezal .cabezal__nombre {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4vw;
    margin-top: 30px;
  }
  .cabezal .cabezal__nombre.dark {
    color: #E1DBD7;
  }
  .cabezal .cabezal__nombre.color1 {
    color: #F7CBC9;
  }
  .cabezal .cabezal__nombre.color2 {
    color: #F39136;
  }
  .cabezal .cabezal__nombre.color3 {
    color: #0E4150;
  }
  .cabezal .cabezal__estado {
    font-family: 'Spartan', sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-right: 4vw;
    margin-top: 30px;
  }
  .cabezal .cabezal__estado.dark {
    color: #E1DBD7;
  }
  .cabezal .cabezal__estado.color1 {
    color: #F7CBC9;
  }
  .cabezal .cabezal__estado.color2 {
    color: #F39136;
  }
  .cabezal .cabezal__estado.color3 {
    color: #0E4150;
  }
  .cabezal__estrella {
    position: absolute;
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
  }
  .cabezal__estrella.dark {
    color: #E1DBD7;
  }
  .cabezal__estrella.color1 {
    color: #F7CBC9;
  }
  .cabezal__estrella.color2 {
    color: #F39136;
  }
  .cabezal__estrella.color3 {
    color: #0E4150;
  }
  .navegadorAbajo {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    position: fixed;
    bottom: 40px;
    z-index: 1;
  }
  .navegadorAbajo .navegadorAbajo__time {
    display: none;
    font-family: 'Spartan', sans-serif;
    text-align: left;
    color: black;
    font-size: 14px;
    margin-left: 4vw;
  }
  .navegadorAbajo .posicionSwitch {
    text-align: right;
    position: absolute;
    right: 4vw;
    bottom: 0px;
  }
  .navegadorAbajo .navegadorAbajo__switch {
    background: #252525;
    border: none;
    border-radius: 2000px;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: steelblue;
  }
  .navegadorAbajo .navegadorAbajo__switch::after {
    content: '\f185';
    font-family: "Font Awesome 5 Free";
    text-align: center;
    font-size: 21px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .navegadorAbajo .navegadorAbajo__switch.active {
    background: #E1DBD7;
    color: #111111;
  }
  .navegadorAbajo .navegadorAbajo__switch.active::after {
    content: '\f186';
    font-family: "Font Awesome 5 Free";
    position: absolute;
  }
  .navegadorAbajo .navegadorAbajo__switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
  .cuerpito {
    height: auto;
  }
  .cuerpito .cuerpito__trabajos--acomodar {
    margin-top: 100px;
  }
  .cuerpito__titulazo {
    height: auto;
    text-transform: uppercase;
    font-size: 16vw;
    line-height: 15.5vw;
    margin-left: 2vw;
    margin-right: 3vw;
    padding-top: 65px;
    font-family: 'Italiana', serif;
    position: relative;
    z-index: -1;
  }
  .cuerpito__titulazo.dark {
    color: #E1DBD7;
  }
  .cuerpito__titulazo.color1 {
    color: #F7CBC9;
  }
  .cuerpito__titulazo.color2 {
    color: #F39136;
  }
  .cuerpito__titulazo.color3 {
    color: #0E4150;
  }
  .cuerpito__titulazo .cuerpito__titulazo--primero {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 1vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--segundo {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 17vw;
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--tercero {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 1vw;
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--cuarto {
    letter-spacing: 1vw;
    font-weight: 700;
    margin-left: 1vw;
    margin-right: 3vw;
  }
  .relleno {
    height: 0vh;
  }
  .carota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .carota__imagen {
    height: auto;
    width: 70%;
    border-radius: 8px;
  }
  .imagen {
    background-color: #787878;
    height: 92.8vw;
    width: 70vw;
    border-radius: 20px;
    margin-top: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://drive.google.com/uc?/export=view&id=1ccwT7PW5BC-x3L8RSlPy2whTkBe6Wew9");
  }
  .imagen.dark {
    height: 112.85vw;
    width: 70vw;
    border-radius: 12px;
    background-image: url("https://drive.google.com/uc?/export=view&id=1q86OsRkDKZLwKUCHoOewIAa3C0ysRS_z");
  }
  .cuerpito__parrafoUno {
    text-transform: uppercase;
    font-family: 'Spartan', serif;
    text-align: justify;
    font-size: 2.5vw;
    line-height: 1.9em;
    margin-left: 4vw;
    margin-top: 70px;
  }
  .cuerpito__parrafoUno.dark {
    color: #E1DBD7;
  }
  .cuerpito__parrafoUno.color1 {
    color: #F7CBC9;
  }
  .cuerpito__parrafoUno.color2 {
    color: #F39136;
  }
  .cuerpito__parrafoUno.color3 {
    color: #0E4150;
  }
  .cuerpito__parrafoUno .cuerpito__parrafoUno--oraUno {
    margin-left: 5vw;
  }
  .cuerpito__parrafoDos {
    text-transform: uppercase;
    font-family: 'Spartan', serif;
    text-align: justify;
    font-size: 2.5vw;
    line-height: 1.9em;
    margin-top: 70px;
    margin-left: 4vw;
  }
  .cuerpito__parrafoDos.dark {
    color: #E1DBD7;
  }
  .cuerpito__parrafoDos.color1 {
    color: #F7CBC9;
  }
  .cuerpito__parrafoDos.color2 {
    color: #F39136;
  }
  .cuerpito__parrafoDos.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos {
    text-decoration: none;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
    z-index: -3;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1:hover {
    background-image: url("https://drive.google.com/uc?/export=view&id=1CjyuWjgees40QiExBYtyYkr1LHfcNlgT");
    background-position-Y: -600px;
    background-position-x: center;
    z-index: -3;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-top: 20px;
    margin-left: 4vw;
    margin-right: 3vw;
    color: black;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color2 {
    color: #F39136;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2:hover {
    background-image: url("https://drive.google.com/uc?/export=view&id=12gFuJZAcWk8tK4H9cX5IFtBa5bRxvFB2");
    background-position-Y: -800px;
    background-position-x: center;
    background-repeat: repeat;
    overflow: hidden;
    background-size: 70vw;
  }
  .cuerpito__trabajos .cuerpito.trabajos--titulo3 {
    color: #75000D;
  }
  .cuerpito__trabajos--imagen1 {
    position: relative;
    border-radius: 8px;
    width: 92%;
    margin-left: 4vw;
    height: auto;
    z-index: -1;
  }
  .cuerpito__trabajos--imagen2 {
    position: relative;
    border-radius: 8px;
    width: 92%;
    margin-left: 4vw;
    height: auto;
    z-index: -1;
  }
  .charlemos {
    font-family: 'Italiana', serif;
    font-size: 15vw;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    margin-bottom: 21vh;
  }
  .charlemos .charlemos__primero {
    display: none;
    margin-left: -150vw;
    height: 12vw;
    position: relative;
    white-space: nowrap;
  }
  .charlemos .charlemos__primero.dark {
    color: #E1DBD7;
  }
  .charlemos .charlemos__primero.color1 {
    color: #F7CBC9;
  }
  .charlemos .charlemos__primero.color2 {
    color: #F39136;
  }
  .charlemos .charlemos__primero.color3 {
    color: #0E4150;
  }
  .charlemos .charlemos__segundo {
    margin-left: -100vw;
    position: relative;
    white-space: nowrap;
  }
  .charlemos .charlemos__segundo.dark {
    color: #E1DBD7;
  }
  .charlemos .charlemos__segundo.color1 {
    color: #F7CBC9;
  }
  .charlemos .charlemos__segundo.color2 {
    color: #F39136;
  }
  .charlemos .charlemos__segundo.color3 {
    color: #0E4150;
  }
  .espacio {
    height: 0vh;
    background-color: #0E4150;
  }
  .contactame {
    text-align: center;
    font-family: 'Spartan', sans-serif;
    line-height: 1.35em;
    font-weight: 200;
    margin-top: calc(21vh - 10px);
    margin-bottom: max(calc(20vh + 1px), 60px);
  }
  .contactame.dark {
    color: #E1DBD7;
  }
  .contactame.dark {
    color: #E1DBD7;
  }
  .contactame.color1 {
    color: #F7CBC9;
  }
  .contactame.color2 {
    color: #F39136;
  }
  .contactame.color3 {
    color: #0E4150;
  }
  .contactame .contactame__mail {
    font-size: 5vw;
  }
  .contactame .contactame__lista {
    margin-top: 70px;
    text-align: center;
    list-style: none;
    font-size: 4vw;
  }
  .contactame .contactame__lista .contactame__listaItemA {
    text-decoration: none;
    color: #111111;
  }
  .contactame .contactame__lista .contactame__listaItemA.dark {
    color: #E1DBD7;
  }
  .contactame .contactame__lista .contactame__listaItemA.color1 {
    color: #F7CBC9;
  }
  .contactame .contactame__lista .contactame__listaItemA.color2 {
    color: #F39136;
  }
  .contactame .contactame__lista .contactame__listaItemA.color3 {
    color: #0E4150;
  }
  .piecito {
    vertical-align: text-bottom;
    margin-bottom: 37px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .piecito .piecito__anio {
    font-family: 'Spartan', sans-serif;
    margin-left: 4vw;
  }
  .piecito .piecito__anio.dark {
    color: #E1DBD7;
  }
  .piecito .piecito__anio.color1 {
    color: #F7CBC9;
  }
  .piecito .piecito__anio.color2 {
    color: #F39136;
  }
  .piecito .piecito__anio.color3 {
    color: #0E4150;
  }
  .piecito .piecito__legals {
    font-family: 'Spartan', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .modito {
    background-color: transparent;
    border-style: none;
    color: #111111;
    z-index: 2;
  }
  .modito.dark {
    color: #E1DBD7;
  }
  .modito.color1 {
    color: #F7CBC9;
  }
  .modito.color2 {
    color: #F39136;
  }
  .modito.color3 {
    color: #0E4150;
  }
  .modito:hover {
    background-color: transparent;
    border-style: none;
  }
  .modito::after {
    background-color: transparent;
  }
}

@media screen and (min-width: 767px) {
  body::-webkit-scrollbar {
    width: 10px;
    background: #F39136;
  }
  body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
    border-right: 2px solid #F39136;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #F39136;
  }
  body.dark {
    background: #111111;
  }
  .animado {
    opacity: 0.1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mostrarArriba {
    -webkit-animation: mostrarArriba 1.5s;
            animation: mostrarArriba 1.5s;
  }
  @-webkit-keyframes mostrarArriba {
    0% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes mostrarArriba {
    0% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .mostrarDerecha {
    -webkit-animation: mostrarDerecha;
            animation: mostrarDerecha;
  }
  @-webkit-keyframes mostrarDerecha {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
  }
  @keyframes mostrarDerecha {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
  }
  .navegador {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: 30px;
  }
  .navegador .navegador__nombre {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-left: 3vw;
  }
  .navegador .navegador__nombre.dark {
    color: #E1DBD7;
  }
  .navegador .navegador__nombre.color1 {
    color: #F7CBC9;
  }
  .navegador .navegador__nombre.color2 {
    color: #75000D;
  }
  .navegador .navegador__nombre.color3 {
    color: #0E4150;
  }
  .navegador .navegador__cambioColor {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }
  .navegador .navegador__estado {
    font-family: 'Spartan', sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-right: 3vw;
  }
  .navegador .navegador__estado.dark {
    color: #E1DBD7;
  }
  .navegador .navegador__estado.color1 {
    color: #F7CBC9;
  }
  .navegador .navegador__estado.color2 {
    color: #75000D;
  }
  .navegador .navegador__estado.color3 {
    color: #0E4150;
  }
  .cabezal__estrella {
    position: absolute;
    padding-top: 30px;
    margin-left: 30vw;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
  }
  .cabezal__estrella.dark {
    color: #E1DBD7;
  }
  .cabezal__estrella.color1 {
    color: #F7CBC9;
  }
  .cabezal__estrella.color2 {
    color: #75000D;
  }
  .cabezal__estrella.color3 {
    color: #0E4150;
  }
  .cabezal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .cabezal .cabezal__nombre {
    display: none;
  }
  .cabezal .cabezal__estado {
    display: none;
  }
  .navegadorAbajo {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    position: fixed;
    bottom: 40px;
    z-index: 1;
  }
  .navegadorAbajo .navegadorAbajo__time {
    font-family: 'Spartan', sans-serif;
    text-align: left;
    color: black;
    font-size: 14px;
    margin-left: 3vw;
  }
  .navegadorAbajo .navegadorAbajo__time.dark {
    color: #E1DBD7;
  }
  .navegadorAbajo .navegadorAbajo__time.color1 {
    color: #F7CBC9;
  }
  .navegadorAbajo .navegadorAbajo__time.color2 {
    color: #75000D;
  }
  .navegadorAbajo .navegadorAbajo__time.color3 {
    color: #0E4150;
  }
  .navegadorAbajo .posicionSwitch {
    text-align: right;
    position: absolute;
    right: 3vw;
    bottom: -2.5px;
  }
  .navegadorAbajo .navegadorAbajo__switch {
    background: #252525;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  .navegadorAbajo .navegadorAbajo__switch::after {
    content: "\f185";
    font-family: "Font Awesome 5 Free";
    text-align: center;
    font-size: 21px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .navegadorAbajo .navegadorAbajo__switch.active {
    background: #E1DBD7;
    color: #111111;
  }
  .navegadorAbajo .navegadorAbajo__switch.active::after {
    content: '\f186';
    font-family: "Font Awesome 5 Free";
  }
  .navegadorAbajo .navegadorAbajo__switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
  .cuerpito {
    height: auto;
  }
  .cuerpito .cuerpito__trabajos--acomodar {
    margin-top: 100px;
  }
  .cuerpito__titulazo {
    height: auto;
    text-transform: uppercase;
    font-size: 15vw;
    line-height: 11.5vw;
    margin-left: 2vw;
    margin-right: 3vw;
    padding-top: 100px;
    font-family: 'Italiana', serif;
    position: absolute;
    bottom: 35px;
  }
  .cuerpito__titulazo.dark {
    color: #E1DBD7;
  }
  .cuerpito__titulazo.color1 {
    color: #F7CBC9;
  }
  .cuerpito__titulazo.color2 {
    color: #75000D;
  }
  .cuerpito__titulazo.color3 {
    color: #0E4150;
  }
  .cuerpito__titulazo .cuerpito__titulazo--primero {
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--segundo {
    margin-left: 9vw;
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--tercero {
    margin-left: 17vw;
    margin-right: 3vw;
  }
  .cuerpito__titulazo .cuerpito__titulazo--cuarto {
    margin-left: 8vw;
    margin-right: 3vw;
  }
  .relleno {
    height: 106vh;
  }
  .carota {
    width: 60%;
    display: none;
  }
  .cuerpito__parrafoUno {
    text-transform: uppercase;
    font-family: 'Spartan', serif;
    text-align: justify;
    font-size: 2vw;
    line-height: 1.35em;
    margin-top: 100px;
    margin-left: 10vw;
  }
  .cuerpito__parrafoUno .cuerpito__parrafoUno--oraUno {
    margin-left: 5vw;
  }
  .cuerpito__parrafoUno.dark {
    color: #E1DBD7;
  }
  .cuerpito__parrafoUno.color1 {
    color: #F7CBC9;
  }
  .cuerpito__parrafoUno.color2 {
    color: #75000D;
  }
  .cuerpito__parrafoUno.color3 {
    color: #0E4150;
  }
  .cuerpito__parrafoDos {
    text-transform: uppercase;
    font-family: 'Spartan', serif;
    text-align: justify;
    font-size: 2vw;
    line-height: 1.35em;
    margin-top: 100px;
    margin-left: 15%;
  }
  .cuerpito__parrafoDos.dark {
    color: #E1DBD7;
  }
  .cuerpito__parrafoDos.color1 {
    color: #F7CBC9;
  }
  .cuerpito__parrafoDos.color2 {
    color: #75000D;
  }
  .cuerpito__parrafoDos.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos {
    text-decoration: none;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: black;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color2 {
    color: #75000D;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo1:hover {
    background-image: url("https://drive.google.com/uc?/export=view&id=1CjyuWjgees40QiExBYtyYkr1LHfcNlgT");
    background-position-Y: -600px;
    background-position-x: center;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: black;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color2 {
    color: #75000D;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo2:hover {
    background-image: url("https://drive.google.com/uc?/export=view&id=12gFuJZAcWk8tK4H9cX5IFtBa5bRxvFB2");
    background-position-Y: -800px;
    background-position-x: center;
    background-repeat: repeat;
    overflow: hidden;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 8.53vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: black;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.dark {
    color: #E1DBD7;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.color1 {
    color: #F7CBC9;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.color2 {
    color: #75000D;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3.color3 {
    color: #0E4150;
  }
  .cuerpito__trabajos .cuerpito__trabajos--titulo3:hover {
    background-image: url("https://drive.google.com/uc?/export=view&id=1cNhnNxuBSYYq315dWHT06WSatm3yTuho");
    background-position-Y: -865px;
    background-position-x: center;
  }
  .cuerpito__trabajos .cuerpito__trabajos--imagen1 {
    border-radius: 8px;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .cuerpito__trabajos .cuerpito__trabajos--imagen2 {
    border-radius: 8px;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .ocultar__imagenes {
    display: none;
  }
  .charlemos {
    font-family: 'Italiana', serif;
    font-size: 15vw;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    margin-bottom: 21vh;
  }
  .charlemos .charlemos__primero {
    color: #111111;
    margin-left: -150vw;
    height: 12vw;
    position: relative;
    white-space: nowrap;
  }
  .charlemos .charlemos__primero.dark {
    color: #E1DBD7;
  }
  .charlemos .charlemos__primero.color1 {
    color: #F7CBC9;
  }
  .charlemos .charlemos__primero.color2 {
    color: #75000D;
  }
  .charlemos .charlemos__primero.color3 {
    color: #0E4150;
  }
  .charlemos .charlemos__segundo {
    margin-left: -100vw;
    position: relative;
    white-space: nowrap;
    color: #111111;
  }
  .charlemos .charlemos__segundo.dark {
    color: #E1DBD7;
  }
  .charlemos .charlemos__segundo.color1 {
    color: #F7CBC9;
  }
  .charlemos .charlemos__segundo.color2 {
    color: #75000D;
  }
  .charlemos .charlemos__segundo.color3 {
    color: #0E4150;
  }
  .espacio {
    height: 0vh;
    background-color: #0E4150;
  }
  .contactame {
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-size: 3vw;
    line-height: 1.35em;
    font-weight: 200;
    margin-top: calc(21vh - 10px);
    margin-bottom: max(calc(20vh + 1px), 60px);
  }
  .contactame.dark {
    color: #E1DBD7;
  }
  .contactame.dark {
    color: #E1DBD7;
  }
  .contactame.color1 {
    color: #F7CBC9;
  }
  .contactame.color2 {
    color: #75000D;
  }
  .contactame.color3 {
    color: #0E4150;
  }
  .contactame .contactame__mail {
    font-size: 5vw;
  }
  .contactame .contactame__lista {
    margin-top: 70px;
    text-align: center;
    list-style: none;
    font-size: 2.5vw;
  }
  .contactame .contactame__lista .contactame__listaItemA {
    text-decoration: none;
    color: #111111;
  }
  .contactame .contactame__lista .contactame__listaItemA.dark {
    color: #E1DBD7;
  }
  .contactame .contactame__lista .contactame__listaItemA.color1 {
    color: #F7CBC9;
  }
  .contactame .contactame__lista .contactame__listaItemA.color2 {
    color: #75000D;
  }
  .contactame .contactame__lista .contactame__listaItemA.color3 {
    color: #0E4150;
  }
  .piecito {
    margin-bottom: 35px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .piecito .piecito__anio {
    display: none;
  }
  .piecito .piecito__anio.dark {
    color: #E1DBD7;
  }
  .piecito .piecito__anio.color1 {
    color: #F7CBC9;
  }
  .piecito .piecito__anio.color2 {
    color: #F39136;
  }
  .piecito .piecito__anio.color3 {
    color: #0E4150;
  }
  .piecito .piecito__legals {
    font-family: 'Spartan', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .modito {
    background-color: transparent;
    border-style: none;
    color: #111111;
    z-index: 2;
  }
  .modito.dark {
    color: #E1DBD7;
  }
  .modito.color1 {
    color: #F7CBC9;
  }
  .modito.color2 {
    color: #F39136;
  }
  .modito.color3 {
    color: #0E4150;
  }
  .modito:hover {
    border-style: none;
    background-color: transparent;
  }
}
/*# sourceMappingURL=style.css.map */