//Task:
//1.Agregar a res Celu y Tablet cody
$negro: #111111;
$blanco: #FEFEFE;
$blanco2: #E1DBD7;
$blanco3: antiquewhite;
$gris: #787878;
$fondoBlanco1:antiquewhite;
$fondoVerde1:#2D625F;
$fondoAzul1:#0E4150;
$fondoNaranja1:#F39136;
$fondoRosa1:#F7CBC9;
$fondoRojo1: #75000D;
$calculation: calc(20vh + 1px);

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
  }
@function min($numbers...) {
    @return m#{a}x(#{$numbers})
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul{
    padding-left: 0;
}
.spinner{
    animation: spin 10s linear infinite;
}
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
@media screen and (max-width: 480px){
    body::-webkit-scrollbar{
        width: 10px;
        background: antiquewhite;
    }
    body::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 4px;
        border-right: 2px solid antiquewhite;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: antiquewhite;

        &.dark{
            background: $negro;
        }
    }
    .animado{
        opacity: 0;
        transition: all 0.5s;
    }
    .mostrarArriba{
        animation: mostrarArriba 1.5s;
    }
    @keyframes mostrarArriba{
        0%{
            transform: translateY(80px);
        }
        100%{
            transform: translateY(0);
        }
    }
    .mostrarDerecha{
        animation: mostrarDerecha;
    }
    @keyframes mostrarDerecha{
        0%{
            transform: translateX(1000px);
        }
        100%{
            transform: translateX(-1000px);
        }
    }
    // ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
    .navegador{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        position: fixed;
        margin-top: 30px;

        .navegador__nombre{
            display: none;
            font-family: 'Spartan', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-left: 4vw;

            z-index: 2;
            &.dark{
                color: $blanco2;
            }
        }
        .navegador__cambioColor{
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .navegador__estado{
            display: none;
            font-family: 'Spartan', sans-serif;
            text-align: right;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-right: 4vw;

            z-index: 2;
            &.dark{
                color: $blanco2;
            }
        }
    }
    .cabezal{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;

        .cabezal__nombre{
            font-family: 'Spartan', sans-serif;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
            margin-left: 4vw;
            margin-top: 30px;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .cabezal__estado{
            font-family: 'Spartan', sans-serif;
            text-align: right;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
            margin-right: 4vw;
            margin-top: 30px;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .cabezal__estrella{
        position: absolute;
        margin-top: 28px;
        font-size: 11px;
        cursor: pointer;
        z-index: 2;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .navegadorAbajo{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        position: fixed;
        bottom: 40px;
        z-index: 1;

        .navegadorAbajo__time{
            display: none;

            font-family: 'Spartan', sans-serif;
            text-align: left;
            color: black;
            font-size: 14px;
            margin-left: 4vw;
            &.dark{
                color: $blanco2;
            }
        }
        .posicionSwitch{
            text-align: right;
            position: absolute;
            right: 4vw;
            bottom: 0px;
        }
        .navegadorAbajo__switch{

            background: #252525;
            border: none;
            border-radius: 2000px;
            position: relative;
            cursor: pointer;
            display: flex;
            background: steelblue;

            &::after{
                content: '\f185';
                font-family: "Font Awesome 5 Free";
                text-align: center;
                font-size: 21px;
                width: 30px;
                height: 30px;
                position: absolute;
                background: #F1F1F1;
                border-radius: 100px;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
                
            }
            &.active{
                background: #E1DBD7;
                color: $negro;
                &::after{
                    content: '\f186';
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                }
            }
            span{
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: block;
                background: none;
                color: #fff;
            }
        }
    }
    // ----- ----- ----- ----- ----- MAIN ----- ----- ----- ----- ----- 
    .cuerpito{
        height: auto;

        .cuerpito__trabajos--acomodar{
            margin-top: 100px;
        }
    }

    .cuerpito__titulazo{
        height: auto;
        text-transform: uppercase;
        font-size: 16vw;
        line-height: 15.5vw;
        margin-left: 2vw;
        margin-right: 3vw;
        padding-top: 65px;
        font-family: 'Italiana', serif;
        position: relative;

        z-index: -1;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }

        .cuerpito__titulazo--primero{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 1vw;
        }
        .cuerpito__titulazo--segundo{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 17vw;
            margin-right: 3vw;
        }
        .cuerpito__titulazo--tercero{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 1vw;
            margin-right: 3vw;
        }
        .cuerpito__titulazo--cuarto{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 1vw;
            margin-right: 3vw;
        }
    }
    .relleno{
        height: 0vh;
    }
    .carota{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .carota__imagen{
        height: auto;
        width: 70%;
        border-radius: 8px;
    }
    .imagen{
        background-color: $gris;
        height: 92.8vw;
        width: 70vw;
        border-radius: 20px;
        margin-top: 70px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://drive.google.com/uc?/export=view&id=1ccwT7PW5BC-x3L8RSlPy2whTkBe6Wew9");

        &.dark{
            height: 112.85vw;
            width: 70vw;
            border-radius: 12px;
            background-image: url("https://drive.google.com/uc?/export=view&id=1q86OsRkDKZLwKUCHoOewIAa3C0ysRS_z");
        }
    }
    .cuerpito__parrafoUno{
        text-transform: uppercase;
        font-family: 'Spartan', serif;
        text-align: justify;
        font-size: 2.5vw;
        line-height: 1.9em;
        margin-left: 4vw;
        margin-top: 70px;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
        .cuerpito__parrafoUno--oraUno{
            margin-left: 5vw;
        }
    }
    .cuerpito__parrafoDos{
        text-transform: uppercase;
        font-family: 'Spartan', serif;
        text-align: justify;
        font-size: 2.5vw;
        line-height: 1.9em;
        margin-top: 70px;
        margin-left: 4vw;

        &.dark{
            color: $blanco2
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .cuerpito__trabajos{
        text-decoration: none;
        
        .cuerpito__trabajos--titulo1{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            z-index: -1;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }

        .cuerpito__trabajos--titulo2{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-top: 20px;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            z-index: -1;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }

        .cuerpito__trabajos--titulo3{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-top: 20px;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            z-index: -1;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }

        .cuerpito__trabajos--titulo4{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-top: 20px;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            z-index: -1;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }

        .cuerpito__trabajos--titulo5{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-top: 20px;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            z-index: -1;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .cuerpito__trabajos--imagen1{
        position: relative;
        border-radius: 8px;
        width: 92%;
        margin-left: 4vw;
        height: auto;
        background-color: #374954;

        z-index: 1;
    }
    .cuerpito__trabajos--imagen2{
        position: relative;
        border-radius: 8px;
        width: 92%;
        margin-left: 4vw;
        height: auto;
        background-color: #7A533C;

        z-index: 1;
    }
    .cuerpito__trabajos--imagen3{
        position: relative;
        border-radius: 8px;
        width: 92%;
        margin-left: 4vw;
        height: auto;
        background-color: #FCB657;

        z-index: 1;
    }
    .cuerpito__trabajos--imagen4{
        position: relative;
        border-radius: 8px;
        width: 92%;
        margin-left: 4vw;
        height: auto;
        background-color: #589764;

        z-index: 2;
    }
    .cuerpito__trabajos--imagen5Caja{
        height: 100vw;
        width: 92%;
        border-radius: 8px;
        background-color: crimson;
        overflow: hidden;
        margin-left: 4vw;
        position: relative;

        z-index: 2;

    }
    .cuerpito__trabajos--imagen5{
        margin-top: -150px;
        margin-bottom: -10px;
        width: 100%;

        z-index: 1;
    }
    .charlemos{
        font-family: 'Italiana', serif;
        font-size: 15vw;
        text-transform: uppercase;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-top: 50px;
        margin-bottom: 21vh;

        .charlemos__primero{
            display: none;
            margin-left: -150vw;
            height: 12vw;
            position: relative;
            white-space: nowrap;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .charlemos__segundo{
            margin-left: -100vw;
            position: relative;
            white-space: nowrap;
            
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .espacio{
        height: 0vh;
        background-color: #0E4150
    }
    .contactame{
        text-align: center;
        font-family: 'Spartan', sans-serif;
        line-height: 1.35em;
        font-weight: 200;

        margin-top: calc(21vh - 10px);
        margin-bottom: min($calculation, 60px);
        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
        .contactame__mail{
            font-size: 5vw;
        }
        .contactame__lista{
            margin-top: 70px;
            text-align: center;
            list-style: none;
            font-size: 4vw;
            .contactame__listaItemA{
                text-decoration: none;
                color: $negro;
                &.dark{
                    color: $blanco2;
                }
                &.color1{
                    color: $fondoRosa1;
                }
                &.color2{
                    color: $fondoNaranja1;
                }
                &.color3{
                    color: $fondoAzul1;
                }
            }
            
        }
    }
    // ----- ----- ----- ----- ----- FOOTER ----- ----- ----- ----- ----- 
    .piecito{
        vertical-align: text-bottom;
        margin-bottom: 37px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        align-items: center;
        .piecito__anio{
            font-family: 'Spartan', sans-serif;
            margin-left: 4vw;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .piecito__legals{
            font-family: 'Spartan', sans-serif;
            display: flex;
            justify-content: space-around;
        }
    }
    .modito{
        background-color: transparent;
        border-style: none;
        color: $negro;
        z-index: 2;
        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .modito:hover{
        background-color: transparent;
        border-style: none;
    }
    .modito::after{
        background-color: transparent;
    }
}
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
@media screen and (min-width: 480px) and (max-width: 767px){
    body::-webkit-scrollbar{
        width: 10px;
        background-color: #ED5A45;
    }
    body::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 4px;
        border-right: 2px solid #ED5A45;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: #ED5A45;
        &.dark{
            background-color: #111111;
        }
    }
    .animado{
        opacity: 0.1;
        transition: all 0.5s;
    }
    .mostrarArriba{
        animation: mostrarArriba 1.5s;
    }
    @keyframes mostrarArriba{
        0%{
            transform: translateY(80px);
        }
        100%{
            transform: translateY(0);
        }
    }
    .mostrarDerecha{
        animation: mostrarDerecha;
    }
    @keyframes mostrarDerecha{
        0%{
            transform: translateX(1000px);
        }
        100%{
            transform: translateX(-1000px);
        }
    }
    // ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
    .navegador{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        position: fixed;
        margin-top: 30px;

        .navegador__nombre{
            display: none;
            font-family: 'Spartan', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-left: 4vw;

            z-index: 2;
            &.dark{
                color: $blanco2;
            }
        }
        .navegador__cambioColor{
            text-align: center;
            font-size: 20px;
            cursor: pointer;

        }
        .navegador__estado{
            display: none;
            font-family: 'Spartan', sans-serif;
            text-align: right;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-right: 4vw;

            z-index: 2;
            &.dark{
                color: $blanco2;
            }
        }
    }
    .cabezal{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;

        .cabezal__nombre{
            font-family: 'Spartan', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-left: 4vw;
            margin-top: 30px;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .cabezal__estado{
            font-family: 'Spartan', sans-serif;
            text-align: right;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-right: 4vw;
            margin-top: 30px;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .cabezal__estrella{
        position: absolute;
        margin-top: 30px;
        font-size: 15px;
        cursor: pointer;
        z-index: 2;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .navegadorAbajo{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        position: fixed;
        bottom: 40px;
        z-index: 1;

        .navegadorAbajo__time{
            display: none;

            font-family: 'Spartan', sans-serif;
            text-align: left;
            color: black;
            font-size: 14px;
            margin-left: 4vw;
        }
        .posicionSwitch{
            text-align: right;
            position: absolute;
            right: 4vw;
            bottom: 0px;
        }
        .navegadorAbajo__switch{

            background: #252525;
            border: none;
            border-radius: 2000px;
            position: relative;
            cursor: pointer;
            display: flex;
            background: steelblue;

            &::after{
                content: '\f185';
                font-family: "Font Awesome 5 Free";
                text-align: center;
                font-size: 21px;
                width: 30px;
                height: 30px;
                position: absolute;
                background: #F1F1F1;
                border-radius: 100px;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
                
            }
            &.active{
                background: #E1DBD7;
                color: $negro;
                &::after{
                    content: '\f186';
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                }
            }
            span{
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: block;
                background: none;
                color: #fff;
            }
        }
    }
    // ----- ----- ----- ----- ----- MAIN ----- ----- ----- ----- ----- 
    .cuerpito{
        height: auto;

        .cuerpito__trabajos--acomodar{
            margin-top: 100px;
        }
    }

    .cuerpito__titulazo{
        height: auto;
        text-transform: uppercase;
        font-size: 16vw;
        line-height: 15.5vw;
        margin-left: 2vw;
        margin-right: 3vw;
        padding-top: 65px;
        font-family: 'Italiana', serif;
        position: relative;

        z-index: -1;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }

        .cuerpito__titulazo--primero{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 1vw;
        }
        .cuerpito__titulazo--segundo{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 17vw;
            margin-right: 3vw;
        }
        .cuerpito__titulazo--tercero{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 1vw;
            margin-right: 3vw;
        }
        .cuerpito__titulazo--cuarto{
            letter-spacing: 1vw;
            font-weight: 700;
            margin-left: 1vw;
            margin-right: 3vw;
        }
    }
    .relleno{
        height: 0vh;
    }
    .carota{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .carota__imagen{
        height: auto;
        width: 70%;
        border-radius: 8px;
    }
    .imagen{
        background-color: $gris;
        height: 92.8vw;
        width: 70vw;
        border-radius: 20px;
        margin-top: 70px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://drive.google.com/uc?/export=view&id=1ccwT7PW5BC-x3L8RSlPy2whTkBe6Wew9");

        &.dark{
            height: 112.85vw;
            width: 70vw;
            border-radius: 12px;
            background-image: url("https://drive.google.com/uc?/export=view&id=1q86OsRkDKZLwKUCHoOewIAa3C0ysRS_z");
        }
    }
    .cuerpito__parrafoUno{
        text-transform: uppercase;
        font-family: 'Spartan', serif;
        text-align: justify;
        font-size: 2.5vw;
        line-height: 1.9em;
        margin-left: 4vw;
        margin-top: 70px;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
        .cuerpito__parrafoUno--oraUno{
            margin-left: 5vw;
        }
    }
    .cuerpito__parrafoDos{
        text-transform: uppercase;
        font-family: 'Spartan', serif;
        text-align: justify;
        font-size: 2.5vw;
        line-height: 1.9em;
        margin-top: 70px;
        margin-left: 4vw;

        &.dark{
            color: $blanco2
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .cuerpito__trabajos{
        text-decoration: none;
        
        .cuerpito__trabajos--titulo1{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            z-index: -3;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .cuerpito__trabajos--titulo1:hover{
            background-image: url("https://drive.google.com/uc?/export=view&id=1CjyuWjgees40QiExBYtyYkr1LHfcNlgT");
            background-position-Y: -600px;
            background-position-x: center;

            z-index: -3;
        }
        .cuerpito__trabajos--titulo2{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-top: 20px;
            margin-left: 4vw;
            margin-right: 3vw;
            color: black;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .cuerpito__trabajos--titulo2:hover{
                background-image: url("https://drive.google.com/uc?/export=view&id=12gFuJZAcWk8tK4H9cX5IFtBa5bRxvFB2");
                background-position-Y: -800px;
                background-position-x: center;
                background-repeat: repeat;
                overflow: hidden;
                background-size: 70vw;
        }
        .cuerpito.trabajos--titulo3{
            color: #75000D;
        }
    }
    .cuerpito__trabajos--imagen1{
        position: relative;
        border-radius: 8px;
        width: 92%;
        margin-left: 4vw;
        height: auto;

        z-index: -1;
    }
    .cuerpito__trabajos--imagen2{
        position: relative;
        border-radius: 8px;
        width: 92%;
        margin-left: 4vw;
        height: auto;

        z-index: -1;
    }
    .charlemos{
        font-family: 'Italiana', serif;
        font-size: 15vw;
        text-transform: uppercase;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-top: 50px;
        margin-bottom: 21vh;

        .charlemos__primero{
            display: none;
            margin-left: -150vw;
            height: 12vw;
            position: relative;
            white-space: nowrap;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .charlemos__segundo{
            margin-left: -100vw;
            position: relative;
            white-space: nowrap;
            
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .espacio{
        height: 0vh;
        background-color: #0E4150
    }
    .contactame{
        text-align: center;
        font-family: 'Spartan', sans-serif;
        line-height: 1.35em;
        font-weight: 200;
        margin-top: calc(21vh - 10px);
        margin-bottom: min($calculation, 60px);
        &.dark{
            color: $blanco2;
        }
        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
        .contactame__mail{
            font-size: 5vw;
        }
        .contactame__lista{
            margin-top: 70px;
            text-align: center;
            list-style: none;
            font-size: 4vw;
            .contactame__listaItemA{
                text-decoration: none;
                color: $negro;
                &.dark{
                    color: $blanco2;
                }
                &.color1{
                    color: $fondoRosa1;
                }
                &.color2{
                    color: $fondoNaranja1;
                }
                &.color3{
                    color: $fondoAzul1;
                }
            }
        }
    }
    // ----- ----- ----- ----- ----- FOOTER ----- ----- ----- ----- ----- 
    .piecito{
        vertical-align: text-bottom;
        margin-bottom: 37px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;

        .piecito__anio{
            font-family: 'Spartan', sans-serif;
            margin-left: 4vw;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .piecito__legals{
            font-family: 'Spartan', sans-serif;
            display: flex;
            justify-content: space-around;
        }
    }
    .modito{
        background-color: transparent;
        border-style: none;
        color: $negro;
        z-index: 2;
        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .modito:hover{
        background-color: transparent;
        border-style: none;
    }
    .modito::after{
        background-color: transparent;
    }
}
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- -----
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
// ----- ----- ----- ----- ----- @MEDIA SCREEN ----- ----- ----- ----- ----- 
@media screen and (min-width:767px){ 
    body::-webkit-scrollbar{
        width: 10px;
        background: $fondoNaranja1;
    }
    body::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 4px;
        border-right: 2px solid $fondoNaranja1;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: $fondoNaranja1;
        &.dark{
            background: #111111;
        }
    }
    .animado{
        opacity: 0.1;
        transition: all 0.5s;
    }
    .mostrarArriba{
        animation: mostrarArriba 1.5s;
    }
    @keyframes mostrarArriba{
        0%{
            transform: translateY(80px);
        }
        100%{
            transform: translateY(0);
        }
    }
    .mostrarDerecha{
        animation: mostrarDerecha;
    }
    @keyframes mostrarDerecha{
        0%{
            transform: translateX(1000px);
        }
        100%{
            transform: translateX(-1000px);
        }
    }
    // ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
    .navegador{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        position: fixed;
        margin-top: 30px;

        .navegador__nombre{
            font-family: 'Spartan', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-left: 3vw;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .navegador__cambioColor{
            text-align: center;
            font-size: 20px;
            cursor: pointer;
        }
        .navegador__estado{
            font-family: 'Spartan', sans-serif;
            text-align: right;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-right: 3vw;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .cabezal__estrella{
        position: absolute;
        padding-top: 30px;
        margin-left: 30vw;
        font-size: 15px;
        cursor: pointer;
        z-index: 2;
        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoRojo1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .cabezal{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        .cabezal__nombre{
            display: none;
        }
        .cabezal__estado{
            display: none;
        }
    }
    .navegadorAbajo{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        position: fixed;
        bottom: 40px;
        z-index: 1;

        .navegadorAbajo__time{
            font-family: 'Spartan', sans-serif;
            text-align: left;
            color: black;
            font-size: 14px;
            margin-left: 3vw;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .posicionSwitch{
            text-align: right;
            position: absolute;
            right: 3vw;
            bottom: -2.5px;
        }
        .navegadorAbajo__switch{

            background: #252525;
            border-radius: 1000px;
            border: none;
            position: relative;
            cursor: pointer;
            display: flex;
            outline: none;
            &::after{
                content: "\f185";
                font-family: "Font Awesome 5 Free";
                text-align: center;
                font-size: 21px;
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                background: #F1F1F1;
                border-radius: 100px;
                transition: .3s ease all;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
                
            }
            &.active{
                background: #E1DBD7;
                color: $negro;
                &::after{
                    content: '\f186';
                    font-family: "Font Awesome 5 Free";
                }
            }
            span{
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: block;
                background: none;
                color: #fff;
            }
        }
    }
    // ----- ----- ----- ----- ----- MAIN ----- ----- ----- ----- ----- 
    .cuerpito{
        height: auto;

        .cuerpito__trabajos--acomodar{
            margin-top: 100px;
        }
    }

    .cuerpito__titulazo{
        height: auto;
        text-transform: uppercase;
        font-size: 15vw;
        line-height: 11.5vw;
        margin-left: 2vw;
        margin-right: 3vw;
        padding-top: 100px;
        font-family: 'Italiana', serif;
        position: absolute;
        bottom: 35px;
        &.dark{
            color: #E1DBD7;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoRojo1;
        }
        &.color3{
            color: $fondoAzul1;
        }
        .cuerpito__titulazo--primero{
            margin-right: 3vw;
        }
        .cuerpito__titulazo--segundo{
            margin-left: 9vw;
            margin-right: 3vw;
        }
        .cuerpito__titulazo--tercero{
            margin-left: 17vw;
            margin-right: 3vw;
        }
        .cuerpito__titulazo--cuarto{
            margin-left: 8vw;
            margin-right: 3vw;
        }
    }
    .relleno{
        height: 106vh;
    }
    .carota{
        width: 60%;
        display: none;
    }
    .cuerpito__parrafoUno{
        text-transform: uppercase;
        font-family: 'Spartan', serif;
        text-align: justify;
        font-size: 2vw;
        line-height: 1.35em;
        margin-top: 100px;
        margin-left: 10vw;

        .cuerpito__parrafoUno--oraUno{
            margin-left: 5vw;
        }
        &.dark{
            color: #E1DBD7;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoRojo1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .cuerpito__parrafoDos{
        text-transform: uppercase;
        font-family: 'Spartan', serif;
        text-align: justify;
        font-size: 2vw;
        line-height: 1.35em;
        margin-top: 100px;
        margin-left: 15%;

        &.dark{
            color: #E1DBD7;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoRojo1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .cuerpito__trabajos{
        text-decoration: none;
        
        .cuerpito__trabajos--titulo1{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-left: 3vw;
            margin-right: 3vw;
            color: black;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .cuerpito__trabajos--titulo1:hover{
            background-image: url("https://drive.google.com/uc?/export=view&id=1CjyuWjgees40QiExBYtyYkr1LHfcNlgT");
            background-position-Y: -600px;
            background-position-x: center;
        }


        .cuerpito__trabajos--titulo2{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-left: 3vw;
            margin-right: 3vw;
            color: black;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }

        .cuerpito__trabajos--titulo2:hover{
                background-image: url("https://drive.google.com/uc?/export=view&id=12gFuJZAcWk8tK4H9cX5IFtBa5bRxvFB2");
                background-position-Y: -800px;
                background-position-x: center;
                background-repeat: repeat;
                overflow: hidden;
        }
        .cuerpito__trabajos--titulo3{
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-size: 8.53vw;
            margin-left: 3vw;
            margin-right: 3vw;
            color: black;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .cuerpito__trabajos--titulo3:hover{
            background-image: url("https://drive.google.com/uc?/export=view&id=1cNhnNxuBSYYq315dWHT06WSatm3yTuho");
            background-position-Y: -865px;
            background-position-x: center;
        }
        .cuerpito__trabajos--imagen1{
            border-radius: 8px;
            width: 50%;
            justify-content: center;
            height: auto;
        }

        .cuerpito__trabajos--imagen2{
            border-radius: 8px;
            width: 50%;
            justify-content: center;
            height: auto;
        }

    }
    .ocultar__imagenes{
        display: none;
    }
    .charlemos{
        font-family: 'Italiana', serif;
        font-size: 15vw;
        text-transform: uppercase;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-top: 50px;

        margin-bottom: 21vh;
        .charlemos__primero{
            color: $negro;
            margin-left: -150vw;
            height: 12vw;
            position: relative;
            white-space: nowrap;
            
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .charlemos__segundo{
            margin-left: -100vw;
            position: relative;
            white-space: nowrap;
            color: $negro;

            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoRojo1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
    }
    .espacio{
        height: 0vh;
        background-color: #0E4150
    }

    .contactame{
        text-align: center;
        font-family: 'Spartan', sans-serif;
        font-size: 3vw;
        line-height: 1.35em;
        font-weight: 200;

        margin-top: calc(21vh - 10px);
        margin-bottom: min($calculation, 60px);
        &.dark{
            color: $blanco2;
        }
        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoRojo1;
        }
        &.color3{
            color: $fondoAzul1;
        }
        .contactame__mail{
            font-size: 5vw;
        }

        .contactame__lista{
            margin-top: 70px;
            text-align: center;
            list-style: none;
            font-size: 2.5vw;
            .contactame__listaItemA{
                text-decoration: none;
                color: $negro;
                &.dark{
                    color: $blanco2;
                }
                &.color1{
                    color: $fondoRosa1;
                }
                &.color2{
                    color: $fondoRojo1;
                }
                &.color3{
                    color: $fondoAzul1;
                }
            }
        }
    }


    // ----- ----- ----- ----- ----- FOOTER ----- ----- ----- ----- ----- 
    .piecito{
        margin-bottom: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;

        .piecito__anio{
            display: none;
            &.dark{
                color: $blanco2;
            }
            &.color1{
                color: $fondoRosa1;
            }
            &.color2{
                color: $fondoNaranja1;
            }
            &.color3{
                color: $fondoAzul1;
            }
        }
        .piecito__legals{
            font-family: 'Spartan', sans-serif;
            display: flex;
            justify-content: space-around;
        }
    }
    .modito{
        background-color: transparent;
        border-style: none;
        color: $negro;
        z-index: 2;

        &.dark{
            color: $blanco2;
        }
        &.color1{
            color: $fondoRosa1;
        }
        &.color2{
            color: $fondoNaranja1;
        }
        &.color3{
            color: $fondoAzul1;
        }
    }
    .modito:hover{
        border-style: none;
        background-color: transparent;
    }
}
